<a href="https://colab.research.google.com/github/s-miramontes/News_Filter/blob/emma/Pilot/Data%20Cleanse%20and%20Clustering%20Models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clustering News Headlines

In this notebook we begin my importing data to analyze its contents and be able to determine the best clustering algorithm to determine the articles that are mostly related to each other.

We start by importing some dependencies

In [1]:
import numpy as np
import pandas as pd

import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

import re
from nltk.stem.snowball import SnowballStemmer

from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.cluster import KMeans

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [0]:
from sklearn.metrics.pairwise import cosine_similarity

## Importing Data from Local File System

Datasets are located here: https://www.kaggle.com/snapcrack/all-the-news/version/4#articles3.csv

Proceed to download all three 'csv' files, and store them in a 'data' directory at the location of your choice.

*Note: It might be a better idea to have a way to import the data from the cloud (google drive) rather than from the user's local file system. Let's leave it like this for now, mainly bringing this up for easy reproducibility.*

Instead, we can mount google drive and import the datasets from an existing file in the cloud.

In [0]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [0]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

For every file available we have a shared link:

CSV File: 'Articles 3':
https://drive.google.com/a/berkeley.edu/file/d/1BDhi5FuIvJ_6jiIdIFXRjT0w6tgfNk10/view?usp=sharing

CSV File: 'Articles 2':
https://drive.google.com/a/berkeley.edu/file/d/1qpoRkKEOnxYg_12e0RdeRi-JWUGWNFP3/view?usp=sharing

CSV File: 'Articles 1':
https://drive.google.com/a/berkeley.edu/file/d/1c9NbOIx7M6PgyJKxR9E7HgzuJlxGIaXU/view?usp=sharing


For each of the links above, we utiliz the File ID provided:

- Articles 1 File ID: '1BDhi5FuIvJ_6jiIdIFXRjT0w6tgfNk10'
- Articles 2 File ID: '1qpoRkKEOnxYg_12e0RdeRi-JWUGWNFP3'
- Articles 3 File ID: '1c9NbOIx7M6PgyJKxR9E7HgzuJlxGIaXU'

In [0]:
downloaded3 = drive.CreateFile({'id':"1BDhi5FuIvJ_6jiIdIFXRjT0w6tgfNk10"})   # replace the id with id of file you want to access
downloaded3.GetContentFile('articles3.csv.zip')        # replace the file name with your file

downloaded2 = drive.CreateFile({'id': "1qpoRkKEOnxYg_12e0RdeRi-JWUGWNFP3"})
downloaded2.GetContentFile('articles2.csv.zip')

downloaded1 = drive.CreateFile({'id': "1c9NbOIx7M6PgyJKxR9E7HgzuJlxGIaXU"})
downloaded1.GetContentFile('articles1.csv.zip')

In [0]:
articles_3 = pd.read_csv('articles3.csv.zip', compression='zip')
articles_2 = pd.read_csv('articles2.csv.zip', compression='zip')
articles_1 = pd.read_csv('articles1.csv.zip', compression='zip')

In [7]:
articles_3.head()

   Unnamed: 0  ...                                            content
0      103459  ...  The son of a Louisiana man whose father was sh...
1      103460  ...  Copies of William Shakespeare’s first four boo...
2      103461  ...  Debt: $20, 000, Source: College, credit cards,...
3      103462  ...  It was late. I was drunk, nearing my 35th birt...
4      103463  ...  A central Texas man serving a life sentence fo...

[5 rows x 10 columns]

In [8]:
articles_2.head()

   Unnamed: 0     id  ...  url                                            content
0       53293  73471  ...  NaN  Patriots Day, Peter Berg’s new thriller that r...
1       53294  73472  ...  NaN  In Norse mythology, humans and our world were ...
2       53295  73474  ...  NaN  “If our democracy is to work in this increasin...
3       53296  73475  ...  NaN  Updated on January 11 at 5:05 p. m. In his fir...
4       53297  73476  ...  NaN  Updated at 12:25 p. m. After months of equivoc...

[5 rows x 10 columns]

In [9]:
articles_1.head()

   Unnamed: 0     id  ... url                                            content
0           0  17283  ... NaN  WASHINGTON  —   Congressional Republicans have...
1           1  17284  ... NaN  After the bullet shells get counted, the blood...
2           2  17285  ... NaN  When Walt Disney’s “Bambi” opened in 1942, cri...
3           3  17286  ... NaN  Death may be the great equalizer, but it isn’t...
4           4  17287  ... NaN  SEOUL, South Korea  —   North Korea’s leader, ...

[5 rows x 10 columns]

In [10]:
set(articles_3.publication)

{'Guardian', 'NPR', 'Reuters', 'Vox', 'Washington Post'}

In [11]:
set(articles_2.publication)

{'Atlantic',
 'Buzzfeed News',
 'Fox News',
 'Guardian',
 'National Review',
 'New York Post',
 'Talking Points Memo'}

In [12]:
set(articles_1.publication)

{'Atlantic', 'Breitbart', 'Business Insider', 'CNN', 'New York Times'}

In [0]:
# full_data = pd.concat([articles_1, articles_2, articles_3], ignore_index=True)
full_data = pd.concat([articles_1, articles_2, articles_3], ignore_index=True)

In [36]:
full_data

        Unnamed: 0  ...                                            content
0                0  ...  WASHINGTON  —   Congressional Republicans have...
1                1  ...  After the bullet shells get counted, the blood...
2                2  ...  When Walt Disney’s “Bambi” opened in 1942, cri...
3                3  ...  Death may be the great equalizer, but it isn’t...
4                4  ...  SEOUL, South Korea  —   North Korea’s leader, ...
...            ...  ...                                                ...
142565      146028  ...           Uber driver Keith Avila picked up a p...
142566      146029  ...           Crews on Friday continued to search L...
142567      146030  ...       When the Obama administration announced a...
142568      146031  ...       This story has been updated. A new law in...
142569      146032  ...       The nation’s first recreational marijuana...

[142570 rows x 10 columns]

In [0]:
# remove duplicates
full_data = full_data.drop_duplicates(subset=['title', 'publication', 'author', 'date'])

In [0]:
# remove missing titles 
full_data = full_data.dropna(subset=['title'])

In [41]:
# sample from full_data (set seed to 5)
small_data = full_data.sample(n=5000, random_state=5)
set(small_data.publication)

{'Atlantic',
 'Breitbart',
 'Business Insider',
 'Buzzfeed News',
 'CNN',
 'Fox News',
 'Guardian',
 'NPR',
 'National Review',
 'New York Post',
 'New York Times',
 'Reuters',
 'Talking Points Memo',
 'Vox',
 'Washington Post'}

In [0]:
def preprocess_text(text):

  # function to remove punctuation 
  def Punctuation(string): 
    return re.sub(r'[\W]', ' ', string)

  # remove punctuation and perform tokenization
  text = Punctuation(text.lower()).split()

  # remove stop words and stem
  stop_words = set(stopwords.words('english'))
  stemmer = SnowballStemmer("english")
  text = [stemmer.stem(t) for t in text if not t in stop_words]

  return text

In [0]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english', use_idf=True, tokenizer=preprocess_text, ngram_range=(1,3))

In [44]:
tfidf_matrix = tfidf_vectorizer.fit_transform(small_data.title)
print(tfidf_matrix.shape)

/usr/local/lib/python3.6/dist-packages/sklearn/feature_extraction/text.py:385: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['afterward', 'alon', 'alreadi', 'alway', 'anoth', 'anyon', 'anyth', 'anywher', 'becam', 'becom', 'besid', 'cri', 'describ', 'els', 'elsewher', 'empti', 'everi', 'everyon', 'everyth', 'everywher', 'fifti', 'forti', 'henc', 'hereaft', 'herebi', 'howev', 'hundr', 'inde', 'mani', 'meanwhil', 'moreov', 'nobodi', 'noon', 'noth', 'nowher', 'otherwis', 'perhap', 'pleas', 'sever', 'sinc', 'sincer', 'sixti', 'someon', 'someth', 'sometim', 'somewher', 'thenc', 'thereaft', 'therebi', 'therefor', 'togeth', 'twelv', 'twenti', 'whatev', 'whenc', 'whenev', 'wherea', 'whereaft', 'wherebi', 'wherev'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

(5000, 59822)

In [0]:
tfidf_matrix = tfidf_matrix.astype(np.float32)

In [0]:
dist = 1 - cosine_similarity(tfidf_matrix)

In [0]:
num_clusters = 10

km = KMeans(n_clusters=num_clusters)

km.fit(tfidf_matrix)

clusters = km.labels_.tolist()

In [71]:
len(clusters)

5000

In [72]:
pd.DataFrame({'title':small_data.title, 'cluster': clusters})

                                                    title  cluster
74496   Chaos in the Family, Chaos in the State: The W...        8
71184    US Civil Rights Commission Will Observe Stand...        6
120205  Venezuela hunts rogue helicopter attackers, Ma...        8
128977  Fruit juice isn’t much better for you than sod...        8
134837  Sessions won’t testify at congressional budget...        8
...                                                   ...      ...
122054  Obama challenges Communist-led Cuba with call ...        8
93373   This hip menswear designer is also a DJ and an...        8
43628   Luxury shoppers have a completely new attitude...        8
135393  Steelers steal playoff spot, Jets fall to Rex ...        8
57202   Carson cancels campaign events after fatal car...        8

[5000 rows x 2 columns]

In [73]:
# sum of squared distances of samples to their closest cluster center.
km.inertia_

4945.050041235834